<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88875769511-ksn691upngjlpn68043g6tjhk2i9cl12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88875769511-ksn691upngjlpn68043g6tjhk2i9cl12</string>
	<key>API_KEY</key>
	<string>AIzaSyAtBcDXX-HxQcByYu1jH5yCm05XC6Kgxvk</string>
	<key>GCM_SENDER_ID</key>
	<string>88875769511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shadow.Instagram-Clone-Swift</string>
	<key>PROJECT_ID</key>
	<string>instagram-zero2launch</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-zero2launch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88875769511:ios:bd88aa22fe17ed7e2f0582</string>
</dict>
</plist>